extends layout

block headers
	title Playing Game - #{config.site_name}
	link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
	link(rel='stylesheet', href='/stylesheets/card.css')

block scripts
	if (user.id === room.current_game.czar)
		if (room.current_game.waiting_for_players)
			- current_turn = 'card_czar_waiting';
		else
			- current_turn = 'card_czar_playing';
	else
		if (room.current_game.waiting_for_players)
			- current_turn = 'play_white';
		else
			- current_turn = 'all_played';

	script(src='/javascripts/jquery-ui.min.js')
	script(src='/javascripts/game/float_window.js')
	script(src='/javascripts/notification_dialog.js')
	script(src='/javascripts/html.js')
	script(src='/javascripts/common/card.js')
	script(src='/socket.io/socket.io.js')
	script
		| var room_socket = io(window.location.origin + '/room', {secure: true});
	script(src='/javascripts/game/chat.js')
	script(src='/javascripts/game/player.js')
	- player_list = [];
	each player_id in room.player_list
		- player_object = room.players[player_id];
		- player_played = !(player_object.current_game.played_cards === null || player_object.current_game.played_cards.length < room.current_game.black_card.blank_count);
		- player_list.push({id: player_object.id, username: player_object.username, played: player_played});
	script
		| player.init(!{JSON.stringify(player_list)}, !{JSON.stringify(room.current_game.czar)}, !{JSON.stringify(room.host)});
	script(src='/javascripts/game/game_turn.js')
	script(src='/javascripts/game/game_card.js')
	script
		| game_card.load_played(!{JSON.stringify(room.players[user.id].current_game.played_cards)});
	script //- Init `game_turn` after other game modules have had a chance to register with it
		| game_turn.init(!{JSON.stringify(current_turn)});
	script(src='/javascripts/game/end_game.js')
	script(src='/javascripts/dup_connection.js')
	script(src='/javascripts/game/timeout.js')

block content
	//- This doesn't seem to carry across blocks, so I will do it in both blocks.
	//- Seems a pretty hacky, but I'm not sure of a way around it
	if (user.id === room.current_game.czar)
		if (room.current_game.waiting_for_players)
			- current_turn = 'card_czar_waiting';
		else
			- current_turn = 'card_czar_playing';
	else
		if (room.current_game.waiting_for_players)
			- current_turn = 'play_white';
		else
			- current_turn = 'all_played';

	.container
		.row
			+game_navbar('current_game')
		.row
			.col-xs-12
				ul.list-group
					+flash_messages
				ul.list-group
					+validation_errors
		.row.game_turn-card_czar_waiting(style=(current_turn == 'card_czar_waiting' ? '' : 'display: none;'))
			.col-xs-12
				h1(style='text-align: center;') You are the Card Czar
				p Once the other players have each played a card, it will be your turn to pick one
		.row
			.game_card-hand_container.game_floater_parent.col-xs-12
				#game_floater
					span#floater_handle_sw.ui-icon.ui-icon-triangle-1-sw.ui-resizable-handle.ui-resizable-sw.visible-lg-block(style='position: absolute; bottom: 0px; left: 0px;')
					div(style='height: 100%;')
						div(style='height: 42px')
							span.label.label-default(style='position: absolute; top: 0px; right: 0px;')
								- play_count = 0;
								each player_id in room.player_list
									if player_id !== room.current_game.czar
										if room.players[player_id].current_game.played_cards !== null && room.players[player_id].current_game.played_cards.length === room.current_game.black_card.blank_count
											- ++play_count;
								span#player-played_count #{play_count}
								| /
								span#player-must_play_count #{room.player_list.length - 1}
							ul.nav.nav-tabs
								li.active
									a(data-toggle="tab" href='#chat') Chat
								li
									a(data-toggle="tab" href='#score') Score
						div(style='height: calc(100% - 42px)')
							.panel.panel-default(style='margin-bottom: 0px; height: 100%;')
								.panel-body.tab-content(style='height: 100%;')
									#chat.tab-pane.fade.in.active(style='height: 100%; padding-bottom: 34px;')
										div(role='form', style='position: absolute; bottom: 15px; left: 15px; right: 15px; height: 34px;')
											.input-group
												input#chat-input.form-control(type='text', autocomplete="off")
												span.input-group-btn
													span#chat-button.btn.btn-default
														span.glyphicon.glyphicon-chevron-right
										#chat-window.hard_wrap(style='overflow-y: scroll; height: 100%;')
											each msg in room.chat
												if msg.type === 'chat'
													p
														b #{msg.username}: 
														| #{msg.text}
												if msg.type === 'notification'
													p
														i #{msg.text}
												if msg.type === 'html_notification'
													p !{msg.text}
									#score.tab-pane.fade.hard_wrap(style='overflow-y: scroll;')
										ul.list-unstyled
											each player_id in room.player_list
												- player = room.players[player_id];
												if player.id === room.current_game.czar
													- glyphicon = 'glyphicon-certificate';
												else
													if player.current_game.played_cards === null || player.current_game.played_cards < room.current_game.black_card.blank_count
														- glyphicon = 'glyphicon-unchecked';
													else
														- glyphicon = 'glyphicon-check';
												li.player-score(data-player-id=player.id)
													span.glyphicon.inline_glyph(class=glyphicon)
													b #{player.username}: 
													span.player-score_value #{player.current_game.score}
				.col-xs-4.col-md-3.col-lg-5ths
					- card_object = {color: room.current_game.black_card.color, text: room.current_game.black_card.text, deck_name: room.current_game.black_card.deck_name, id: room.current_game.black_card.id};
					#game_card-black_card.card(data-card-data=JSON.stringify(card_object))
				//- Make an object associating hand ids with the play number of the card so we can make the badges
				- played_list = {};
				- all_played = false;
				if room.players[user.id].current_game.played_cards
					if room.players[user.id].current_game.played_cards.length === room.current_game.black_card.blank_count
						- all_played = true;
					each card, index in room.players[user.id].current_game.played_cards
						- played_list[card.hand_id] = index + 1;
				each card, index in room.players[user.id].current_game.hand
					.col-xs-4.col-md-3.col-lg-5ths.game_turn-play_white(style=(current_turn === 'play_white' ? '' : 'display: none;'))
						- card_object = {color: card.color, text: card.text, deck_name: card.deck_name, hand_id: index, id: card.id};
						.card.game_card-hand_card(data-card-data=JSON.stringify(card_object), class=(all_played ? '' : 'card_clickable'))
							if played_list[index]
								if room.current_game.black_card.blank_count > 1
									span.game_card-number_label.label.label-default(style='position: absolute; top: 0px; right: 0px;') #{played_list[index]}
								if played_list[index] === room.current_game.black_card.blank_count
									#game_card-undo_button.centered_absolute
										a.btn.btn-default
											span.glyphicon.glyphicon-ok
											|  Undo
				if !room.current_game.waiting_for_players
					//- Classes to use for card containers. The keys for the arrays correspond to the number of cards played per person
					- outer_container_class = [];
					- outer_container_class[1] = 'col-xs-4 col-md-3 col-lg-5ths';
					- outer_container_class[2] = 'col-xs-8 col-md-6 col-lg-2_5ths';
					- outer_container_class[3] = 'col-xs-12 col-md-9 col-lg-3_5ths';
					- inner_container_class = [];
					- inner_container_class[1] = 'col-xs-12';
					- inner_container_class[2] = 'col-xs-6';
					- inner_container_class[3] = 'col-xs-4';
					each played_object, index in room.current_game.played
						- player_cards = played_object.cards
						div(class=outer_container_class[player_cards.length])
							div(class=(player_cards.length > 1 ? 'card_panel' : ''))
								.row
									each card_description in player_cards
										- card_object = card_description.card_object
										- card_object.hand_id = index;
										div(class=inner_container_class[player_cards.length])
											.card.game_card-czar_card(data-card-data=JSON.stringify(card_object), class=(user.id === room.current_game.czar ? 'card_clickable' : ''))
