doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block headers
			if config && config.site_name
				title= config.site_name
	body
		- if (!user) user = {};
		//- Takes a bootstrap `list-group-item-*` class and an array of messages
		//- Should be explictly put in a ul.list-group like this:
		//-     ul.list-group
		//-         +messages('list-group-item-danger', message_list)
		mixin messages(group_class, message_list)
			if message_list
				each message in message_list
					li.list-group-item(class=group_class) #{message}
		//- Should be explictly put in a ul.list-group like this:
		//-     ul.list-group
		//-         +flash_messages
		mixin flash_messages
			if flash_message_list
				+messages('list-group-item-danger', flash_message_list.error)
				+messages('list-group-item-success', flash_message_list.success)
				+messages('list-group-item-info', flash_message_list.info)
		//- For express-validator errors
		//- Should be explictly put in a ul.list-group like this:
		//-     ul.list-group
		//-         +validation_errors
		mixin validation_errors
			if validation_error_list
				each error in validation_error_list
					li.list-group-item.list-group-item-danger #{error.msg}
		mixin game_navbar(active_button)
			.container
				nav.navbar.navbar-inverse(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
							span.sr-only Toggle Navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					.collapse.navbar-collapse(id='navbar')
						form.navbar-form.navbar-left
							.form-group
								.input-group
									span.input-group-addon
										span.glyphicon.glyphicon-user
									input.form-control(type='text', placeholder='Display Name', value='')
						ul.nav.navbar-nav
							li(class=(active_button == 'home' ? 'active' : ''))
								a(href='/game') Home
							li(class=(active_button == 'join' ? 'active' : ''))
								a(href='/game/list') Join Game
							li(class=(active_button == 'create' ? 'active' : ''))
								a(href='/game/create') Create Game
							li(class=(active_button == 'deck editor' ? 'active' : ''))
								a(href='/deck/edit') Deck Editor
						ul.nav.navbar-nav.navbar-right
							li
								a(href='/user/logout') Logout
		div(style='margin: 20px;')
			block content

		//- Some config settings need to be available in client javascript.
		//- Only expictly pass in the values we need. We don't want to reveal
		//- things like the database password
		if config
			script
				| var config = {};
				| config.card_icon = !{JSON.stringify(config.card_icon)};
				| config.site_name = !{JSON.stringify(config.site_name)};
				| config.invitations_required = !{JSON.stringify(config.invitations_required)};
				| config.field_sizes = !{JSON.stringify(config.field_sizes)};
				| config.properties = {};
				| config.properties.is_configured = !{JSON.stringify(config.properties.is_configured)};
		else
			script
				| var config = {};
				| config.properties = {};
				| config.properties.is_configured = false;

		script(src='/javascripts/jquery-1.11.3.min.js')
		script(src='/javascripts/bootstrap.min.js')
		block scripts

