extends layout

block headers
	title Waiting Room - #{config.site_name}
	link(rel='stylesheet', href='https://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css')
	link(rel='stylesheet', href='/stylesheets/card.css')

block scripts
	script(src='/javascripts/html.js')
	script(src='/socket.io/socket.io.js')
	script
		| if (!window.location.origin)
		| {
		| 	window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
		| }
		| var room_socket = io(window.location.origin + '/room');
	script(src='/javascripts/game/chat.js')
	script(src='/javascripts/game/waiting_room/player.js')
	script(src='/javascripts/game/waiting_room/start_game.js')
	script(src='/javascripts/game/end_game.js')
	script(src='/javascripts/notification_dialog.js')
	script(src='/javascripts/dup_connection.js')


block content
	.container
		.row
			+game_navbar('current_game')
		.row
			.col-xs-12
				ul.list-group
					+flash_messages
				ul.list-group
					+validation_errors
				if room.last_winner
					ul.list-group
						li.list-group-item.list-group-item-info #{room.last_winner.username} has won the game!
		.panel.panel-default
			.panel-body
				.row
					.col-xs-12
						h3 #{room.name}
				.row
					.col-xs-12.col-sm-6
						if room.publicly_listed
								p
									b Publicly Listed Game
						else
								p
									b Unlisted Game
						if room.password === null
							p
								b Password: 
								i None
						else
							p
								b Password: 
								| #{room.password}
						p Playing with #{room.deck.count(card.white)} white cards and #{room.deck.count(card.black)} black cards
					.col-xs-12.col-sm-6
						p
							b Objective: 
							| #{room.objective}
						p
							b Hand Size: 
							| #{room.hand_size}
						p
							b Redraws: 
							| #{room.redraws}
		.row
			.col-xs-12.col-md-6.col-lg-8
				#player_list.list-group
					each player_id in room.player_list
						.list-group-item.player_list_item(data-user_id=player_id)
							.flex_container
								.flex_noexpand(style=(user.id === room.host ? '' : 'display: none;'))
									if player_id === room.host
										span.kick_player.btn.btn-default.dummy_btn(style='margin-right: 7px;')
											span.glyphicon.glyphicon-star(style='margin-left: 2px; margin-right: 2px;')
									else
										span.kick_player.btn.btn-default(style='margin-right: 7px;')
											span.glyphicon.glyphicon-remove(style='margin-left: 2px; margin-right: 2px;')
								.flex_expand.hard_wrap(style='margin-top: 7px; margin-bottom: 7px;')
									span.username_text
										b #{room.players[player_id].username}
					each player_id in room.waiting_list
						.list-group-item.player_list_item(data-user_id=player_id)
							.flex_container
								.flex_noexpand(style=(user.id === room.host ? '' : 'display: none;'))
									if player_id === room.host
										span.kick_player.btn.btn-default.dummy_btn(style='margin-right: 7px;')
											span.glyphicon.glyphicon-star(style='margin-left: 2px; margin-right: 2px;')
									else
										span.kick_player.btn.btn-default(style='margin-right: 7px;')
											span.glyphicon.glyphicon-remove(style='margin-left: 2px; margin-right: 2px;')
								.flex_expand.hard_wrap(style='margin-top: 7px; margin-bottom: 7px;')
									span.username_text #{room.waiting_players[player_id].username}
					- blank_rows = room.max_players - room.player_list.length - room.waiting_list.length;
					while blank_rows > 0
						.list-group-item.player_list_item.empty_player_slot
							.flex_container
								.flex_noexpand(style=(user.id === room.host ? '' : 'display: none;'))
									span.kick_player.btn.btn-default.dummy_btn(style='margin-right: 7px;')
										span.glyphicon.glyphicon-unchecked(style='margin-left: 2px; margin-right: 2px;')
								.flex_expand.hard_wrap(style='margin-top: 7px; margin-bottom: 7px;')
									span.username_text
										i Open Slot
						- --blank_rows;
			.col-xs-12.col-md-6.col-lg-4
				.panel.panel-default
					.panel-body(style='width: 100%; height: 350px;')
						.flex_vcontainer(style='height: 100%;')
							#chat-window.flex_expand.hard_wrap(style='width: 100%; overflow-y: scroll;')
								each msg in room.chat
									if msg.type === 'chat'
										p
											b #{msg.username}: 
											| #{msg.text}
									if msg.type === 'notification'
										p
											i #{msg.text}
									if msg.type === 'html_notification'
										p !{msg.text}
							.flex_noexpand(role='form', style='width: 100%;')
								.input-group
									input#chat-input.form-control(type='text', autocomplete="off")
									span.input-group-btn
										span#chat-button.btn.btn-default
											span.glyphicon.glyphicon-chevron-right
		.row
			.col-xs-12
				span#start_button.btn.btn-primary.btn-lg.btn-block(style=(user.id === room.host ? '' : 'display: none;')) Start Game
